<div class="container pt-5 mt-5">
  <div class=" bg ">
      <div class="card col-4 m-4 ">
        <div class="card-body ">
          <h2 class="card-header text-center">Register</h2>
          <form #registerdata="ngForm" (submit)="register(registerdata)">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" placeholder="Enter name" [(ngModel)]="name">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" placeholder="Enter email"[(ngModel)]="email" >
            </div>
            <div class="form-group">
              <label for="contact">Contact</label>
              <input type="text" class="form-control" name="contact" placeholder="Enter contact number" [(ngModel)]="contact">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Enter password" [(ngModel)]="password">
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" name="city" placeholder="Enter city" [(ngModel)]="city">
            </div>
            <div class="card-footer text-center">
            <button type="submit" class="btn btn-outline-info btn-lg">Register</button>
             <p class="fs-5 "> Already a user, <a class="  " type="button" routerLink="/login" > Login here</a></p> 
          </div>
          </form>
        </div>
      </div>
    </div>
</div>
