<nav class="navbar navbar-expand-lg bg-white fixed-top">
  <div class="container">
      <a class="navbar-brand" href="index.html">
          <img id="logoSize" src="../assets/images/logo.png" alt="" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li><h3><i class="fa">Cabx!</i></h3></li>
          </ul>
              <button class="btn btn-outline-success round-button" type="button" routerLink="/register" >Register / Login</button>
      </div>
  </div>
</nav>

<div class="container-fluid pt-3">
  
  <router-outlet></router-outlet>
</div>


